<div class="container auth-body-helper container-login">
  <div class="row row-login">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <div ui-view></div>
    </div>
  </div>
  <div class="business-login text-center">
    <h4>
      Business Login
    </h4>
    <p>
      <a href="https://client.nutritionix.com/">Restaurant Owners Login</a>
    </p>
    <p>
      <a href="https://developer.nutritionix.com/">API Developers Login</a>
    </p>
    <br>
    <a href ui-sref="site.contact">Need Help?</a>
  </div>
</div>
