<div class="row">
  <div class="col-md-12">
    <a href ui-sref="account.cabinet.lists.new" class="btn btn-success pull-right">
      <i class="fa fa-cutlery" aria-hidden="true"></i>
      Create List
    </a>
    <h1>
      Lists
    </h1>

    <div ng-if="vm.lists.length == 0">
      <p>
        You do not have any lists.
      </p>
    </div>

    <div ng-if="vm.lists.length > 0">
      <table class="table table-condensed table-striped table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="list in vm.lists">
            <td>
              <a href ui-sref="account.cabinet.lists.edit({id: list.id})">
                {{list.name}}
              </a>
            </td>
            <td>{{(list.updated_at || list.created_at) | amDateFormat: 'MM/DD/YY'}}</td>
            <td class="text-center">
              <a href ui-sref="account.cabinet.lists.edit({id: list.id})">
                <i class="fa fa-edit"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
