<div class="grey-background">
    <div class="page-banner basil-bucket">
        <div class="overlay-300"> </div>
        <div class="overlay-text">
            <h1>Popular Diets</h1>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
            <li class="active">Popular Diets</li>
        </ol>
      </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">

            <div class="panel panel-default">
              <div class="panel-heading">
                <input type="text" class="form-control" placeholder="Search for diet" ng-model="vm.filter">
              </div>
              <div class="list-group">
                <a href ui-sref="site.dietDetail({id: diet.id})" class="list-group-item"
                   ng-repeat="diet in vm.diets | filter: {name: vm.filter}">
                  {{diet.name}}
                </a>
              </div>
            </div>

          </div>
        </div>
    </div>
</div>
