<h1 class="sr-only">Account</h1>
<h2 class="text-center">Forgot Password</h2>
<br>
<form novalidate name="form">
  <div class="form-group text-center"
       ng-class="{'has-error': form.email.$dirty && !(form.email.$error | isEmptyObject)}">
    <label for="email" class="sr-only">What is your email address?</label>
    <input type="email" class="form-control text-center" id="email" placeholder="What is your email address?"
           ng-model="vm.email" required
    >
  </div>
  <div class="form-group">
    <p>
      <button class="btn btn-block btn-lg btn-success"
              ng-disabled="form.$invalid"
              ng-click="vm.requestPasswordReset()"
      >Submit
      </button>
    </p>
    <p class="text-center">
      <a href ui-sref="account.login.login">Back to Track Login</a>
    </p>

    <alert class="submit-alert" type="success" ng-if="vm.requestPasswordReset.$success">
      Password reset requested. Please check your email {{vm.email}} in couple of minutes.
    </alert>

    <alert class="submit-alert" type="danger" ng-if="vm.requestPasswordReset.$error">
      <span ng-if="vm.requestPasswordReset.$error.message">{{vm.requestPasswordReset.$error.message}}</span>
      <span ng-if="!vm.requestPasswordReset.$error.message">An unexpected server error has occurred.</span>
      <br>
      <small>
        Please email <a href="mailto:support@nutritionix.com">support@nutritionix.com</a>
        <span ng-if="vm.requestPasswordReset.$error.id">
            and reference the reference code: {{vm.requestPasswordReset.$error.id}}
        </span>
      </small>

    </alert>
  </div>
</form>
