<div class="row">
  <div class="col-md-12 col-lg-12">
    <h1>
      Messages
    </h1>

    <ul class="list-group list-group-messages" ng-if="vm.messages.messages.length">
      <li class="list-group-item" ng-repeat="message in vm.messages.messages">
        <div class="row">
          <div class="col-md-12">
            <a ui-sref="account.cabinet.messageDetail({id: message.id})" class="message-preview">
              <i class="fa" ng-class="{
                'fa-circle business-icon-color': !message.viewed,
                'fa-circle-thin': message.viewed
              }"></i>

              <span class="timestamp" am-time-ago="message.created_at"></span>
              <div class="subject" ng-if="message.subject">
                <strong>{{message.subject}}</strong>
              </div>

              {{message.message | characters: 30}}

            </a>
          </div>
        </div>
      </li>
    </ul>

    <div ng-if="!vm.messages.messages.length">
      No new messages.
    </div>
  </div>
</div>
