<h3 class="text-center">Reset Password</h3>
<br>
<form novalidate name="form" autocomplete="off">
  <div class="form-group">
    <label for="newPassword">New Password <span class="required">*</span></label>
    <input type="password"
           id="newPassword"
           name="newPassword"
           class="form-control"
           placeholder="New Password"
           ng-model="vm.password"
           required>

    <alert class="submit-alert" type="danger" ng-if="form.newPassword.$invalid && form.newPassword.$dirty">
      <div ng-messages="form.newPassword.$error" multiple
           ng-if="form.newPassword.$dirty"
           class="error-messages slide-right">
        <div ng-message="required" class="message slide-left">Password can't be empty</div>
        <div ng-message="passwordMatch" class="message slide-left">Your passwords did not match.</div>
      </div>
    </alert>
  </div>
  <div class="form-group">
    <label for="confirmPassword">Re-type new password <span class="required">*</span></label>
    <input type="password"
           id="confirmPassword"
           name="confirmPassword"
           class="form-control"
           placeholder="Re-type new password"
           ng-model="vm.passwordRepeat"
           match-password="newPassword"
           required>
    <alert class="submit-alert" type="danger" ng-if="form.confirmPassword.$invalid && form.confirmPassword.$dirty">
      <div ng-messages="form.confirmPassword.$error" multiple
           class="error-messages slide-right">
        <div ng-message="required" class="message slide-left">Password confirmation can't be empty</div>
        <div ng-message="passwordMatch" class="message slide-left">Your passwords did not match</div>
      </div>
    </alert>
  </div>
  <div class="form-group">
    <button class="btn btn-block btn-lg btn-success"
            ng-disabled="form.$invalid"
            ng-click="vm.resetPassword()"
    >Reset
    </button>

    <alert class="submit-alert" type="success" ng-if="vm.resetPassword.$success">
      Password updated. You can <a ui-sref="account.login.login">login</a> now
    </alert>

    <alert class="submit-alert" type="danger" ng-if="vm.resetPassword.$error">
      <span ng-if="vm.resetPassword.$error.message">{{vm.resetPassword.$error.message}}</span>
      <span ng-if="!vm.resetPassword.$error.message">An unexpected server error has occurred.</span>
      <br>
      <small>
        Please email <a href="mailto:support@nutritionix.com">support@nutritionix.com</a>
        <span ng-if="vm.resetPassword.$error.id">
            and reference the reference code: {{vm.resetPassword.$error.id}}
        </span>
      </small>

    </alert>
  </div>
</form>
