<div class="page-banner basil-bucket">
  <div class="overlay-300"></div>
  <div class="overlay-text">
    <h1>FDA Menu Labeling Compliance Made Easy</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <ol class="breadcrumb">
      <li class="active">
        FDA Menu Labeling Compliance Made Easy
      </li>
    </ol>
  </div>
</div>

<div class="container bg-white">
  <div class="row">
    <div class="col-md-9">
      <div class="content-padding-tbl">
        <h2 class="text-center">
          Receive step-by-step guidance from our nutrition policy experts on what is <u>required</u> to comply:
        </h2>
        <div class="row row-compliance-solutions">
          <div class="col-sm-4 col-md-4">
            <div class="compliance-wrap">
              <div class="compliance-feature">
                <h3>Menu Calories</h3>
                <p class="screenshot">
                  <img src="/nix_assets/images/fda-compliance/calories_on_all_menus.jpg"
                       class="img-responsive center-block">
                </p>
                <p>
                  Calories must be displayed for all standard menu items on any ordering platform:
                </p>
                <ul>
                  <li><strong>Menu Boards</strong></li>
                  <li><strong>Paper Menus</strong></li>
                  <li><strong>Digital Menus</strong></li>
                  <li><strong>Online Ordering</strong></li>
                </ul>
              </div>
              <div class="fda-compliance-solution">
                <p class="screenshot2">
                  <img src="/nix_assets/images/fda-compliance/menus_all_devices.png"
                       class="img-responsive center-block">
                </p>
                <br>
                <h4>In-Store Display Expert Review</h4>
                <p>
                  All packages include time with our expert team to help you review your in-store displays and guide you
                  through the countless particulars of compliance.
                </p>
                <br>
                <h4>FDA Compliance API</h4>
                <p>
                  Our state of the art API automatically populates calorie counts to all digital interfaces so nutrition
                  updates can cascade through all interfaces in seconds.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <div class="compliance-wrap">
              <div class="compliance-feature">
                <h3>Written Nutrition</h3>
                <p class="screenshot">
                  <img src="/nix_assets/images/fda-compliance/full_nutrition_breakdown.jpg"
                       class="img-responsive center-block">
                </p>
                <p>
                  If a customer requests to see the full nutrition facts for a menu item, you will need to provide this
                  on site. This can be in:
                </p>
                <ul>
                  <li><strong>Digital Format</strong></li>
                  <li><strong>Paper Hard Copy</strong></li>
                </ul>
              </div>
              <div class="fda-compliance-solution">
                <p class="screenshot2">
                  <img src="/nix_assets/images/fda-compliance/digital_menu.jpg" class="img-responsive center-block">
                </p>
                <br>
                <h4>Paper Nutrition Brochure Fulfillment</h4>
                <p>
                  Thanks to a partnership with one of the country’s largest printing services, we can ensure delivery of
                  brochures to anywhere from 20 to 40,000 locations in just a few days.
                </p>
                <br>
                <h4>Digital Nutrition Menus &amp; Calculators</h4>
                <p>
                  Using tablets allows each store location to automatically receive updated nutrition information from
                  the cloud and provides guests with an interactive nutrition experience.
                </p>
                <br>
                <h4><a href="#" onclick="window.open('/firehouse-subs/portal','name','width=1200,height=800')"
                       style="color: #333333">See An Example</a></h4>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <div class="compliance-wrap">
              <div class="compliance-feature">
                <h3>Compliance Forms</h3>
                <p class="screenshot">
                  <img src="/nix_assets/images/fda-compliance/compliance_forms.jpg" class="img-responsive center-block">
                </p>
                <p>
                  An official accuracy form needs to be filled out and signed by a person at every location and
                  corporate to confirm that the location is compliant and that analysis was conducted using an approved
                  method.
                </p>
              </div>
              <div class="fda-compliance-solution">
                <p class="screenshot2">
                  <img src="/nix_assets/images/fda-compliance/esignatures.jpg" class="img-responsive center-block">
                </p>
                <br>
                <h4>eSignatures for Compliance Auditing</h4>
                <p>
                  Our proprietary eSignature system creates an invaluable digital audit trail for ensuring compliance
                  from the corporate level through franchisee and individual locations.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default panel-consultation hidden-xs hidden-sm">
          <div class="panel-heading">
            <h3 class="panel-title text-center">Sign Up For a Free Individualized Compliance Consultation</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-7 col-md-7">
                <form id="fdaComplianceForm1" name="vm.form1" ng-submit="vm.submit(vm.form1, vm.recaptcha1)" novalidate>
                  <div class="form-group"
                       ng-class="{
                          'has-error': vm.form1.name.$dirty && !(vm.form1.name.$error | isEmptyObject),
                          'has-success': vm.form1.name.$dirty && vm.form1.name.$valid
                       }"
                  >
                    <input class="form-control" ng-model="vm.model.name" name="name" placeholder="Your Name" type="text"
                           required>
                  </div>
                  <div class="form-group"
                       ng-class="{
                          'has-error': vm.form1.email.$dirty && !(vm.form1.email.$error | isEmptyObject),
                          'has-success': vm.form1.email.$dirty && vm.form1.email.$valid
                       }"
                  >
                    <input class="form-control" ng-model="vm.model.email" name="email" placeholder="E-Mail" type="email"
                           required>
                  </div>
                  <div class="form-group"
                       ng-class="{
                          'has-error': vm.form1.message.$dirty && !(vm.form1.message.$error | isEmptyObject),
                          'has-success': vm.form1.message.$dirty && vm.form1.message.$valid
                       }"
                  >
                    <textarea name="message" ng-model="vm.model.message" class="form-control" rows="6" cols="10"
                              placeholder="Questions/Comments (optional)"></textarea>
                  </div>
                  <div class="form-group wrap-recaptcha">
                    <div vc-recaptcha
                         ng-model="vm.recaptcha1.response"
                         on-create="vm.recaptcha1.widgetId = widgetId"></div>

                    <div ng-if="vm.form1.$submitted && vm.form1.$error.recaptcha"
                         class="text-danger"
                         role="alert">
                      You need to pass recaptcha
                    </div>
                  </div>

                  <input class="btn btn-success btn-block" type="submit" value="Submit">

                  <alert class="submit-alert" ng-if="vm.errorMessage"
                         close="vm.closeAlertMessage()" type="danger">
                    {{vm.errorMessage}}
                  </alert>
                  <alert class="submit-alert" ng-if="vm.successMessage"
                         dismiss-on-timeout="3000"
                         close="vm.closeSuccessAlertMessage()" type="info">
                    {{vm.successMessage}}
                  </alert>
                </form>
              </div>
              <div class="col-sm-5 col-md-5">
                <br>
                <br>
                <h4>or email us: <a href="mailto:enterprise@nutritionix.com">enterprise@nutritionix.com</a></h4>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-3">
      <div class="content-padding-trb">
        <h4 class="text-center">Do you have a strategy and execution plan for compliance?</h4>
        <h4 class="text-center">
          <strong>Schedule a Free Consultation</strong>
        </h4>
        <form id="fdaComplianceForm2" name="vm.form2" ng-submit="vm.submit(vm.form2, vm.recaptcha2)" novalidate>
          <div class="form-group"
               ng-class="{
                  'has-error': vm.form2.name.$dirty && !(vm.form2.name.$error | isEmptyObject),
                  'has-success': vm.form2.name.$dirty && vm.form2.name.$valid
               }"
          >
            <input class="form-control" placeholder="Your Name" name="name"
                   ng-model="vm.model.name"
                   id="FDAComplianceForm_2_name" type="text"
                   required>
          </div>
          <div class="form-group"
               ng-class="{
                  'has-error': vm.form2.email.$dirty && !(vm.form2.email.$error | isEmptyObject),
                  'has-success': vm.form2.email.$dirty && vm.form2.email.$valid
               }"
          >
            <input class="form-control" placeholder="E-mail" name="email"
                   ng-model="vm.model.email"
                   id="FDAComplianceForm_2_email" type="text"
                   required>
          </div>
          <div class="form-group"
               ng-class="{
                  'has-error': vm.form2.message.$dirty && !(vm.form2.message.$error | isEmptyObject),
                  'has-success': vm.form2.message.$dirty && vm.form2.message.$valid
               }">
            <textarea class="form-control" rows="6" cols="10" placeholder="Questions/Comments (optional)"
                      name="message" id="FDAComplianceForm_2_message"
                      ng-model="vm.model.message"
            ></textarea>
          </div>
          <div class="form-group wrap-recaptcha">
            <div vc-recaptcha
                 ng-model="vm.recaptcha2.response"
                 on-create="vm.recaptcha2.widgetId = widgetId"></div>

            <div ng-if="vm.form2.$submitted && vm.form2.$error.recaptcha"
                 class="text-danger"
                 role="alert">
              You need to pass recaptcha
            </div>
          </div>
          <input class="btn btn-success btn-block" type="submit" name="" value="Submit">
          <alert class="submit-alert" ng-if="vm.errorMessage"
                 close="vm.closeAlertMessage()" type="danger">
            {{vm.errorMessage}}
          </alert>
          <alert class="submit-alert" ng-if="vm.successMessage"
                 dismiss-on-timeout="3000"
                 close="vm.closeSuccessAlertMessage()" type="info">
            {{vm.successMessage}}
          </alert>
        </form>
        <p>
          or email us: <a href="mailto:enterprise@nutritionix.com">enterprise@nutritionix.com</a>
        </p>
        <br>
        <h4 class="text-center">Nutritionix supports over 25,000 restaurant locations, including:</h4>
        <div class="row row-brands">
          <div class="col-sm-4 col-md-12">
            <img title="Papa Murphy's" src="//d2eawub7utcl6.cloudfront.net/s0/uploads/locations/142.jpg"
                 alt="Papa Murphy's">
          </div>
          <div class="col-sm-4 col-md-12">
            <img title="Firehouse Subs"
                 src="//d2eawub7utcl6.cloudfront.net/s0/uploads/locations/9975f9b503d7ea564d10b5dbb5d0c3103afe.png"
                 alt="Firehouse Subs">
          </div>
          <div class="col-sm-4 col-md-12">
            <img title="Red Lobster"
                 src="//d2eawub7utcl6.cloudfront.net/s0/uploads/locations/99725775c58359c24c2ca3f3e15da504cf35.png"
                 alt="Red Lobster">
          </div>
          <div class="col-sm-4 col-md-12">
            <img title="Boston Market"
                 src="//d2eawub7utcl6.cloudfront.net/s0/uploads/locations/996340151e0bd3444a9ffde40e5b1e0ea733.png"
                 alt="Boston Market">
          </div>
          <div class="col-sm-4 col-md-12">
            <img title="Wawa"
                 src="//d2eawub7utcl6.cloudfront.net/s0/uploads/locations/9977268fac94298840b79f4b28a4687f722d.png"
                 alt="Wawa">
          </div>
          <div class="col-sm-4 col-md-12">
            <img title="Marco's Pizza"
                 src="//d2eawub7utcl6.cloudfront.net/s0/uploads/locations/998097c196c9bf7142449fca397898eac9ff.png"
                 alt="Marco's Pizza">
          </div>
          <div class="col-sm-4 col-md-12">
            <img title="Sheetz"
                 src="//d2eawub7utcl6.cloudfront.net/s0/uploads/locations/99788afcec493fb94c0ed47dca3f93bba3cc.png"
                 alt="Sheetz">
          </div>
          <div class="col-sm-4 col-md-12">
            <img title="McAlister's Deli" src="//d2eawub7utcl6.cloudfront.net/s0/uploads/locations/398.png"
                 alt="McAlister's Deli">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
